body {
    background: url('image.jpg');
    background-attachment: fixed;
    background-size: cover;
    animation: bodyFade 1s ease;
}

@keyframes bodyFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.frame {
    width: 400px;
    margin: 25vh auto 0vh auto;
    background: url('image.jpg');
    box-shadow: 0 0 50px rgba(137, 27, 5, 0.844);
    border-radius: 20px;
    padding: 70px;
    text-align: center;
    animation: fadein 2s ease;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#header {
    color: rgb(119, 7, 7);
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    font-style: initial;
    margin-bottom: 40px;
}

p {
    color: rgb(119, 7, 7);
}

#error {
    color: red;
}

input {
    background: url('image.jpg');
    font-size: 30px;
    color: rgba(172, 55, 16, 0.821);
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
}

input:focus {
    border: 5px solid rgb(119, 7, 7);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(119, 7, 7);
}

button {
    background-color: rgb(119, 7, 7);
    color: aliceblue;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.2);
    background: chocolate;
}

h1 {
    color: rgb(119, 7, 7);
}

#src {
    text-align: end;
    font-size: 25px;
}

#pop-up {
    background: url('image.jpg');
}